header {
  width: 100%;
}

.logo {
  max-width: 350px;
  max-height: 75px;
}

.main-nav ul {
  list-style-type: none;
  float: right;
}

.main-nav-link {
  display: inline;
}

a {
    text-decoration: none;
}
